@media only screen and (max-width: 768px) {
/* CSS */
    
    .sidebar-image{
        margin:0;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .content-sidebar-image{
        margin: 20px;
    }

    .img-content > img{
        padding: 5px !important;
        width: 100%;
    }
    
    .text-icon{
        margin: 0 10px; width: 55%; overflow: hidden;
    }
    .btn-icon{
        width: 35%; height:50px
    }

    .social-connect{
        margin: 10px 0;
        font-size: 0.7em;
    }
    
    .back-to-top{
        right:20px
    }
    .our-sponors, .twitter-feed{
        font-size: 0.7em;
    }
    .search input{
        width: 90%;
    }


}